/* -------------------------------------- Section-1 -------------------------------------- */

body{margin:0;}

.navbar{
	height:80px;
	border:1px solid;
}

.navbar > img{
		width:100px;
		height:40px;
}


/* -------------------------------------- Section-2 -------------------------------------- */



/* -------------------------------------- Section-3 -------------------------------------- */



/* -------------------------------------- Section-4 -------------------------------------- */



/* -------------------------------------- Section-5 -------------------------------------- */



/* -------------------------------------- Section-6 -------------------------------------- */



/* -------------------------------------- Section-7 -------------------------------------- */



/* -------------------------------------- Section-8 -------------------------------------- */



/* -------------------------------------- Section-9 -------------------------------------- */



/* -------------------------------------- Section-10 -------------------------------------- */



/* -------------------------------------- Section-11 -------------------------------------- */



/* -------------------------------------- Section-12 -------------------------------------- */
.footer{
	width:100%
	height:500px;
	backfround-color:#141618;
	color:white;
}


